* {
  font-family: "Karla", sans-serif;
}

main {
  background-size: cover;
  min-height: 100vh;
  color: black !important;
}
.link {
  font-size: 1.4em;
  color: grey !important;
}
.copyright {
  font-size: 12px;
}
.magnifierWrapper {
  overflow: hidden;
}
.underline {
  border-bottom: 1px solid black;
}

.carouselText {
  color: white;
  background-color: black;
  padding: 20px;
}
.navbar {
  background-color: rgb(255, 255, 255) !important;
  border-bottom: 1px solid rgba(128, 128, 128, 0.219);
}
.searchBar {
  width: 55% !important;
  background-color: white;
  height: 30px !important;
  transition: 0.5s;
  border-bottom: 1px solid grey;
}
.searchButton {
  background: none;
  color: rgb(128, 128, 128);
}
.searchBar:focus {
  border: 1px solid white;
  outline: none;
  border-radius: 13px;
  transition: 0.7s;
}
.logotext {
  height: auto;
  width: 50%;
}
.logo {
  height: 150px;
}
.bannerContainer {
  height: 300px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.37)),
    url("https://i.etsystatic.com/isbl/1982e3/44013612/isbl_1680x420.44013612_e2p98y4p.jpg?version=1");
  background-size: cover;
}
.bannerText {
  position: absolute;
  top: 250px;
  text-shadow: 0px 0px 10px black;
  color: white;
  right: 20px;
}
.thumb {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
.card-img-top {
  height: 450px;
  object-fit: cover;
}
.sidebar {
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  padding: 48px 0 0;
}
.link {
  font-size: 1rem;
  color: rgb(177, 177, 177) !important;
}

#sidebar-wrapper .sidebar-heading {
  font-size: 1.2rem;
}
.card {
  background-color: rgba(0, 0, 0, 0) !important;
  border: none !important;
}
.productPageImage {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.1s;
}

@media (max-width: 600px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
  .carouselText {
    visibility: hidden;
  }
  .footer-left {
    flex-direction: column;
  }

  .bannerContainer {
    height: 0px;
  }
  .bannerText {
    visibility: hidden;
  }
}
