main {
	background-size: cover;
	min-height: 100vh;
	color: black !important;
}
.copyright {
	font-size: 12px;
}
.footer-distributed {
	background-color: #131313;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	padding: 45px 50px;
	overflow: hidden;
	font-family: "Work Sans", sans-serif;
}
.footer-left {
	display: flex;
	flex-direction: row;
}
.footer-distributed .footer-left p {
	letter-spacing: 1px;
	display: flex;
	flex-direction: column;
	font-size: 14px;
	margin: 0;
}
.footer-left a {
	color: #8f9296;
	font-size: 0.8rem;
}
#genre {
	color: white;
}
.footer-distributed p.footer-links {
	font-size: 12px;
	color: #ffffff;
	margin: 0 0 10px;
	padding: 0;
	transition: ease 0.25s;
}

.footer-distributed p.footer-links a {
	display: inline-block;
	line-height: 1.8;
	font-weight: 200;
	text-decoration: none;
	color: inherit;
	transition: ease 0.25s;
}

.footer-distributed .footer-right {
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
	transition: all 0.25s;
}

.footer-distributed .footer-right a:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
	opacity: 50%;
}
.footerRow {
	overflow: hidden;
}
.underline {
	border-bottom: 1px solid black;
}
.jumbotron {
	background-image: url("https://res.cloudinary.com/danielmurphy/image/upload/v1615564267/milkrecords/banner_t1mews.png");
	background-size: cover;
	height: 350px;
	border-top: 12px solid rgb(0, 0, 0);
}
.carouselText {
	color: white;
	background-color: black;
	padding: 20px;
}

.merchText {
	font-family: fantasy;
}
.navbar {
	position: relative;
	bottom: 32px;
	background-color: rgb(14, 14, 14) !important;
}
.searchBar {
	width: 200px !important;
	height: 30px !important;
	transition: 1s;
}
.searchBar:focus {
	border-radius: 13px;
	transition: 0.7s;
}

.card-img-top {
	border: 7px solid rgba(0, 0, 0, 0.836);
	transition: 1s;
	transform: scale(1.1);
}
.card-img-top:hover {
	transform: scale(1.15);
	transition: 1s;
}
.carousel {
	width: 100% !important;
	height: 70%;
	object-fit: cover;
}
.card {
	background-color: rgba(0, 0, 0, 0) !important;
	border: none !important;
}
h3 {
	padding: 1rem 0;
	color: white;
}
h1 {
	font-size: 1.8rem;
	padding: 0.1rem;
	/* color: white; */
}
h2 {
	font-size: 1.4rem;
	padding: 0.5rem 0;
}
@media (max-width: 600px) {
	.footer-distributed .footer-left,
	.footer-distributed .footer-right {
		text-align: center;
	}
	.footer-distributed .footer-right {
		float: none;
		margin: 0 auto 20px;
	}
	.footer-distributed .footer-left p.footer-links {
		line-height: 1.8;
	}
	.carouselText {
		visibility: hidden;
	}
	.footer-left {
		flex-direction: column;
	}
	#genre {
		position: relative;
		margin-left: -60px !important;
		margin-bottom: 20px;
		margin-top: 5px;
	}
	.card-img-top:hover {
		transform: none;
	}
}
